

.homepageContainer {
    border: 3px;
    background-color: blue;
}

body {
    border: 5px;
}

/* NAVBAR SECTION */

.navbar {
    background-color: lightblue;
    height: 5vh;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* DISPLAY CONTAINER */
.display {
    border: transparent;
    height: 95vh;
    display: flex;
    justify-content: flex-end;
}

.codebox {
    width: 45vw;
    justify-content: flex-end;
    margin: 15px;
    height: 100%;
}

/* CHATBOX */
.chatbox {
    background-color: white;
    border: transparent;
    margin-top: 15px;
    width: 40vw;
    height: 50vh;
    border: 1px solid rgb(233, 232, 232);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.chatbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    overflow: scroll;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}


/* #sendBtn {
  background-color: lightblue; Green
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  border-radius: 12px;
} */

.chatPartner {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    background-color: lightblue;
    border: transparent;
    border-radius: 10px;
    margin: 5px;
    height: 10%;
}

.chatPartner h3 {
    margin: 10px;
}

.messageContainer {
    margin-left: 10px;
    padding: 5px;
    max-width: max-content;
    background-color: rgb(233, 232, 232);
    border: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;;
}

.sender {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(171, 171, 171);
    font-size: small;
}

.friendsList {
    width: 10vw;
    height: 50vh;
    margin-top: 15px;
    border: transparent;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(233, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friendListHeader {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.friends {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 20px;
}

.messageInput {
    align-self: flex-end;
}

.user {
    /* background-color: red; */
    max-width: 10;
    padding: 4px;
}

.user:hover {
    font-weight: bold;
    cursor: pointer;
}

button {
    display: inline-block;
    background-color: lightblue;
    border: transparent;
    border-radius: 15px;
    margin-left: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 10px;
  }

  input {
    width: 100%;
    border: 1px solid rgb(204, 203, 203);
    /* border: transparent; */
    border-radius: 15px;
    padding: 0px 10px; 
    margin: 0px 0px 0px 10px;
  }