.homepageContainer {
    border: 3px;
    background-color: blue;
}

body {
    border: 5px;
}

#friendsContainer {
    background-color: salmon;
}

.auth {
    margin: auto;
    border: 1px solid black;
}